<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Auto-Tagger</title>
    
</head>
    <body>
        <main>
            <h1>
                Auto Tagger
            </h1>
            <p>To automatically tag people in various chat groups</p>

            <form id="NER_request" action="{{ url_for('predict') }}" method="post">
                <textarea id="ner_text" name="ner_text" value="" cols="75" rows="15">{{ sentence }}</textarea>
                <br>
                <input id="submit_button" type="submit" value="Auto-Tag!" onclick="this.value='Tagging...'">
            </form>

            <br>
            {% if word_range >= 0 %}
                <div id="display_area">
                    {% for word in range(word_range) %}
                        {%- if words[word].lower() in tokens -%}
                            <strong class="token" id="{{ words[word] }}-{{ word }}">{{words[word]}}</strong>
                        {%- else -%}
                            {{words[word]}} 
                        {%- endif -%}
                    {% endfor %}
                </div>
            {% endif %}
        </main>
    </body>
    
    <script type="module">
        import { annotate, annotationGroup } from 'https://unpkg.com/rough-notation?module';

        window.onload = function Annotate() {
            const config_box = { type: 'box', color: 'orange' };
            const config_highlight = { type: 'highlight', color: 'yellow', iterations: 1, multiline: true };
            const config_underline = { type: 'bracket', color: 'red', brackets: 'bottom' };

            var arr = [];
            arr.push(annotate(document.querySelector('h1'), config_box));
            arr.push(annotate(document.querySelector('p'), config_highlight));

            var elements = document.getElementsByClassName("token");
            for(var i=0; i<elements.length; i++) {
                arr.push(annotate(document.querySelector("#"+elements[i].id), config_box));
            }

            const ag = annotationGroup(arr);
            ag.show();
        }

    </script>
    <footer>
        <hr>
        <div id="footer_credit"> © MLH Fellowship. Pod 1.0.5. Group 3</div>
    </footer>
</html>